body {
  font-family: "Smooch Sans", sans-serif;
  margin: 0;
  background-color: rgb(36, 33, 41);
}

.main-game {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.genius {
  display: grid;
  grid-template-areas:
    "area-green area-red"
    "area-yellow area-blue";
  grid-gap: 10px;
  border: 8px solid rgb(54, 54, 54);
  background-color: #242424;
  border-radius: 100%;
  width: 700px;
  height: 700px;
}

.game-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 100%;
  background-color: #242424;
  height: 300px;
  width: 300px;
  border: none;
  cursor: pointer;
}

.game-button-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c0c0c0;
  height: 90%;
  width: 90%;
  border-radius: 100%;
}

.game-button-center-up {
  display: flex;
  justify-content: center;
  align-items: end;
  border-bottom: 4px solid #ffffff;
  width: 100%;
  height: 50%;
}

.game-button-center-down {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 50%;
}

.game-title {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}

.game-message {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
}

.blue {
  grid-area: area-blue;
  background-color: #2e82ff;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 50px;
  border-top-right-radius: 15px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.yellow {
  grid-area: area-yellow;
  background-color: #fff12e;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 15px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.red {
  grid-area: area-red;
  background-color: #ff2e51;
  border-top-right-radius: 100%;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 50px;
  margin-top: 40px;
  margin-right: 40px;
}

.green {
  grid-area: area-green;
  background-color: #2eff62;
  border-top-left-radius: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 10px;
  margin-top: 40px;
  margin-left: 40px;
}

.selected {
  opacity: 0.5;
}
